# Globus App ID and secret
APP_CLIENT_ID = ''
APP_CLIENT_SECRET = ''

# AWS credentials for access such as S3 and presigned URLs
# https://boto3.amazonaws.com/v1/documentation/api/latest/guide/credentials.html
AWS_ACCESS_KEY_ID = ''
AWS_SECRET_ACCESS_KEY = ''
AWS_S3_BUCKET_NAME = ''
AWS_S3_OBJECT_PREFIX = 'Dev_files-api_unspecified-function_'
AWS_OBJECT_URL_EXPIRATION_IN_SECS = 10*24*60*60 # 10 days
# Large response threshold, as determined by len() for the character set, above
# which responses will be stashed in an S3 bucket and a pre-signed URL
# returned in the response to avoid the AWS Gateway 10Mb constraint
LARGE_RESPONSE_THRESHOLD = 9*(2**20)

# MySQL connection
DB_HOST = ''
DB_NAME = ''
DB_USERNAME = ''
DB_PASSWORD = ''

# URL for talking to UUID API (default value used for docker deployment, no token needed)
# Works regardless of the trailing slash /
UUID_API_URL = 'http://uuid-api:8080'

# URL for talking to Entity API (default value used for docker deployment, no token needed)
# Works regardless of the trailing slash /
ENTITY_API_URL = 'http://entity-api:8080'

# URL for talking to Search API (default value used for docker deployment, no token needed)
# Works regardless of the trailing slash /
SEARCH_API_URL = 'http://search-api:8080'

# Composite index name, as supported by search-api in search-config.yaml deployed for each tier.
FILES_API_COMPOSITE_INDEX = 'files'

# Maximum number of hits for each page of search scroll results.
# N.B. Elasticsearch has marked scroll functionality as deprecated, but OpenSearch has not.
# https://opensearch.org/docs/latest/api-reference/scroll/
MAX_DOCS_PER_SCROLL_PAGE = 10000
# Time string for URL parameter. Ref. https://opensearch.org/docs/latest/api-reference/scroll/#url-parameters
MAX_MINUTES_OPEN_SCROLL_CONTEXT = 10

UBKG_SERVER =
UBKG_ENDPOINT_VALUESET =
UBKG_CODES =